<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/master.css">
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1>This is from the layour</h1>


    {{{yield}}}

    <script src="/js/client.js" charset="utf-8"></script>
  </body>
</html>
