<div class="login_wrapper">
  <div class="form_wrapper">
    <form class="login" action="/register" method="post">
      <h2>Sign Up!</h2>
      <label for="username">Username</label>
      <input type="text" name="username" value="" placeholder="username">
      <label for="password">Password</label>
      <input type="password" name="password" value="" placeholder="password">
      <label for="password_two">Confirm Password</label>
      <input type="passsword" name="password_two" value="" placeholder ="confirm password">
      <button type="submit" name="button">Register!</button>
    </form>
  </div>
</div>
