<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h2>This page displays the snip you chose</h2>
    <h3>{{snip.title}}</h3>
    <p>The snippet:</p>
    <blockquote>
      {{uncodeSnip}}
    </blockquote>
    <p>Language: {{snip.language}}</p>
    <p>Tags: {{snip.tags}} </p>
  </body>
</html>
